.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: green;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header .ui.menu {
  background: transparent;
  border: 0;
  box-shadow: none;
}
